In [1]:
import pandas as pd
import numpy as np

In [54]:
rng =  np.random.default_rng(314)
x = np.round(rng.uniform(-5,5,(4,3)),1)
datos = pd.DataFrame(
    x,
    columns=['x1','x2','x3']
)
datos ['y'] = ['a','b','b','c']
datos

    x1   x2   x3  y
0  4.2  2.1  2.5  a
1  0.7 -3.7 -2.3  b
2 -2.4 -2.1  4.0  b
3  0.3 -1.5  1.9  c

In [18]:
datos['x2']

0    2.1
1   -3.7
2   -2.1
3   -1.5
Name: x2, dtype: float64

In [21]:
type(datos['x2'])
type(datos[['x1','x2']])

pandas.core.frame.DataFrame

In [22]:
datos[['x1','x2']]

    x1   x2
0  4.2  2.1
1  0.7 -3.7
2 -2.4 -2.1
3  0.3 -1.5

In [23]:
datos[[False,True,True,False]]

    x1   x2   x3  y
1  0.7 -3.7 -2.3  b
2 -2.4 -2.1  4.0  b

In [24]:
datos[datos['y'] == 'b']

    x1   x2   x3  y
1  0.7 -3.7 -2.3  b
2 -2.4 -2.1  4.0  b

In [27]:
datos.loc[:,['x1','x2','x3']]
datos.loc[:,[True,True,True,False]]

    x1   x2   x3
0  4.2  2.1  2.5
1  0.7 -3.7 -2.3
2 -2.4 -2.1  4.0
3  0.3 -1.5  1.9

In [28]:
datos.loc[datos['y'] == 'b',['x1','x2','x3']]

    x1   x2   x3
1  0.7 -3.7 -2.3
2 -2.4 -2.1  4.0

In [29]:
datos.iloc[:,[0,1,2]]

    x1   x2   x3
0  4.2  2.1  2.5
1  0.7 -3.7 -2.3
2 -2.4 -2.1  4.0
3  0.3 -1.5  1.9

In [30]:
datos.iloc[[1,2], [0,1,2]]

    x1   x2   x3
1  0.7 -3.7 -2.3
2 -2.4 -2.1  4.0

In [37]:
datos

    x1   x2   x3  y
0  4.2  2.1  2.5  a
1  0.7 -3.7 -2.3  b
2 -2.4 -2.1  4.0  b
3  0.3 -1.5  1.9  c

In [39]:
datos2 = datos.sort_values('x1')
datos2

    x1   x2   x3  y
2 -2.4 -2.1  4.0  b
3  0.3 -1.5  1.9  c
1  0.7 -3.7 -2.3  b
0  4.2  2.1  2.5  a

In [40]:
datos2.loc[0,:]

x1    4.2
x2    2.1
x3    2.5
y       a
Name: 0, dtype: object

In [41]:
datos2.iloc[0,:]

x1   -2.4
x2   -2.1
x3    4.0
y       b
Name: 2, dtype: object

In [44]:
datos.index = ['a1','a2','a3','a4']
datos

     x1   x2   x3  y
a1  4.2  2.1  2.5  a
a2  0.7 -3.7 -2.3  b
a3 -2.4 -2.1  4.0  b
a4  0.3 -1.5  1.9  c

In [48]:
datos.loc[['a2','a4'],'y'] = 'Changed'
datos

     x1   x2   x3        y
a1  4.2  2.1  2.5        a
a2  0.7 -3.7 -2.3  Changed
a3 -2.4 -2.1  4.0        b
a4  0.3 -1.5  1.9  Changed

In [49]:
datos.loc[['a2','a4'],'y'] = ['YES','NO']
datos

     x1   x2   x3    y
a1  4.2  2.1  2.5    a
a2  0.7 -3.7 -2.3  YES
a3 -2.4 -2.1  4.0    b
a4  0.3 -1.5  1.9   NO

In [51]:
datos.loc[['a2','a4'],'y'] = pd.Series(['Yes','No'],index=['a2','a4'])
datos

     x1   x2   x3    y
a1  4.2  2.1  2.5    a
a2  0.7 -3.7 -2.3  Yes
a3 -2.4 -2.1  4.0    b
a4  0.3 -1.5  1.9   No

In [55]:
datos.loc[~(datos['y'] == 'b'),'y']

0    a
3    c
Name: y, dtype: object

In [58]:
datos.loc[~(datos['y'] == 'b'),'y'] = 'no b'
datos

    x1   x2   x3     y
0  4.2  2.1  2.5  no b
1  0.7 -3.7 -2.3     b
2 -2.4 -2.1  4.0     b
3  0.3 -1.5  1.9  no b