# Aplicar funciones a elementos de `Series` o `DataFrame`s
Cualquier procesado, manipulación o análisis de conjuntos de datos implica el aplicar transformaciones, funciones o calcular indicadores elemento a elemento, fila a fila o columna a columna.

In [2]:
# Preliminares
import pandas as pd
import numpy as np

Para ilustrar, generamos un `DataFrame` usando un generador de números aleatorios.

In [4]:
# Usamos el generador por defecto del módulo random de numpy
#
rng = np.random.default_rng(314)
df = pd.DataFrame( 
    rng.standard_normal((5,2)),
    columns = ["X","Y"]
    )

df

          X         Y
0 -0.623223 -0.556297
1  0.037388  0.995960
2  0.029919  0.348075
3  0.132315  0.151695
4 -0.148900 -0.062405

## Funciones universales `ufuncs` de `numpy`
Puesto que un `DataFrame` también es un array de `numpy`, podemos aplicarle cualquier función universal de `numpy`. Las funciones universales de `numpy`(ufuncs) se pueden consultar en la referencia [Available ufuncs](https://numpy.org/doc/stable/reference/ufuncs.html#available-ufuncs)

In [5]:
# Calculamos la exponencial de x e y, elemento a elemento
np.exp(df)

          X         Y
0  0.536213  0.573328
1  1.038096  2.707323
2  1.030371  1.416338
3  1.141468  1.163805
4  0.861655  0.939502

In [7]:
# Elevamos x a la potencia y, elemento a elemento:
np.power(np.abs(df["X"]),df["Y"])

0    1.300885
1    0.037888
2    0.294792
3    0.735788
4    1.126200
dtype: float64

## También se pueden aplicar métodos de `pandas` directamente a todo un `DataFrame`

In [11]:
# Para obtener la suma, columna por columna
a = df.sum().index
print(a)
df.sum().values

Index(['X', 'Y'], dtype='object')

array([-0.57250122,  0.87702866])

In [13]:
# Para obtener la media, columna por columna
df.mean()

X   -0.114500
Y    0.175406
dtype: float64

In [12]:
# Para obtener la desviación típica, columna por columna
df.std()

X    0.302005
Y    0.569128
dtype: float64

También podríamos calcular estos indicadores, fila por fila, usando el parámetro `axis=1`.

In [16]:
b = df.sum(axis=1)
c = df.max(axis=1)
d = df.max(axis=0)
b
c
d

X    0.132315
Y    0.995960
dtype: float64

Podéis encontrar y explorar la gran cantidad de métodos disponibles para un `DataFrame`en la [documentación](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html) de `pandas`.

## Aplicar funciones a elementos de `Series` o `DataFrame`s (II)
En el vídeo anterior vimos cómo aplicar funciones universales de `numpy` o los métodos de `pandas` a `DataFrame`s. Pero puede ser que queramos aplicar nuestras propias funciones.

Al igual que en el vídeo anterior, para ilustrar, generamos un `DataFrame` usando un generador de números aleatorios.

In [17]:
# Usamos el generador por defecto del módulo random de numpy
df

          X         Y
0 -0.623223 -0.556297
1  0.037388  0.995960
2  0.029919  0.348075
3  0.132315  0.151695
4 -0.148900 -0.062405

Empezamos por crear una función

In [22]:
# hemos usado la construcción if else
def es_positivo(x):
    return "es positivo" if x>=0 else "es negativo"
es_positivo(3)

'es positivo'

Para aplicar nuestra función a cada elemento del `DataFrame` usamos `applymap`

In [23]:
df.applymap(es_positivo)

             X            Y
0  es negativo  es negativo
1  es positivo  es positivo
2  es positivo  es positivo
3  es positivo  es positivo
4  es negativo  es negativo

Si quisieramos aplicar nuestra función a cada elemento de una `Serie` usaríamos `apply`:

In [20]:
def calcular_numeros_positivos(s):
    return(s >=0).sum()
calcular_numeros_positivos(df["X"])

3

In [21]:
df.apply(calcular_numeros_positivos)

X    3
Y    3
dtype: int64

In [24]:
df.apply(calcular_numeros_positivos,axis=1)

0    0
1    2
2    2
3    2
4    0
dtype: int64

## Las funciones anónimas en Python

Es muy útil tener la posibilidad de definir sobre la marcha una función sin darle un nombre y usarla como argumento de un método. Se hace con `lambda`.

In [25]:
# Para obtener el doble de cada elemento
df.applymap(lambda x:2 * x)

          X         Y
0 -1.246446 -1.112593
1  0.074776  1.991921
2  0.059838  0.696149
3  0.264630  0.303390
4 -0.297800 -0.124810

In [26]:
2*df

          X         Y
0 -1.246446 -1.112593
1  0.074776  1.991921
2  0.059838  0.696149
3  0.264630  0.303390
4 -0.297800 -0.124810

## El método `apply` para un `DataFrame`

El método `apply` si se aplica a un `DataFrame` debe tener como argumento a una función que se aplica a toda una columna o toda una fila, no a un elemento individual.

In [ ]:
# Ejemplo con una función que se aplica a un vector: calculamos el número de valores positivos por columna

El método `apply` admite también el argumento `axis=1`, para que se aplique la función fila por fila.

> Es muy recomendable evitar `apply` si es posible, y usar las funciones de `numpy` o los métodos de `pandas` que son muy optimizados y llevan a cabo la iteración en C.
`apply` lleva a cabo la iteración en Python.

En el caso anterior, podríamos haber usado directamente el método `sum` en `pandas`.

In [28]:
(df >=0).sum()

X    3
Y    3
dtype: int64

In [27]:
# Fila por fila:
(df >=0).sum(axis=1)

0    0
1    2
2    2
3    2
4    0
dtype: int64